
<html lang="en">

    <%- include header %>

 <form class="form-horizontal" role="form" method="post"  enctype="multipart/form-data">
    <div class="col-sm-9">
      <input class="form-control" type="file" name="uploaded_image" accept=""/>
    </div>
    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> upload</button>
  </form>

  <%- include footer %>